* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: orangered;
    color: white;
    font-size: 22px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}